<a href="https://colab.research.google.com/github/abhinav371/python-practice/blob/Module-1/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#length of a string
s='gopalapatnam to gitam'
print(s)
print(len(s))

gopalapatnam to gitam
21

In [ ]:
#checking a string
t='gopalapatnam to gitam'
print('A' in t)

False

In [ ]:
#if not
t='gopalapatnam to gitam'
print("to" not in t,"and" not in t)
print("and" not in t)

False True
True

In [ ]:
#slicing string
a='kushwanth went to lunch'
print(a[-5:-2])

lun

In [ ]:
#modifying strings
a='Kushwanth went to lunch'
print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace("to","for"))
print(a.capitalize())
print(a.split("to"))

KUSHWANTH WENT TO LUNCH
kushwanth went to lunch
Kushwanth went to lunch
Kushwanth went for lunch
Kushwanth went to lunch
['Kushwanth went ', ' lunch']

In [ ]:
#string concatenation
a="kushwanth"
b=" lunch boy"
c = a + b
print(c)
d = a+" is"+b
print(d)

kushwanth lunch boy
kushwanth is lunch boy

In [ ]:
#string format
a = 17
t = "my name is abhi and i am {}"
print(t.format(a))

my name is abhi and i am 17

In [ ]:
#escape characters
t="kushwanth is a \lunch\ boy"
print(t)

kushwanth is a \lunch\ boy

In [ ]:
#string methods