<a href="https://colab.research.google.com/github/abhinav371/python-practice/blob/Module-1/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
a=('virat','dhoni','rohit')
print(a)
print(len(a))
b=('cherry')
print(type(b))
print(type(a))
print(a[0])
print(a[-3])
print(a[1:2])
c=('audi','ford','suzuki','bmw','tata','ferrari','toyota')
print(c[2:])
print(c[:4])
d=list(c)
d[5]='tesla'
print(d)
e=list(c)
e.append('tesla')
print(e)

('virat', 'dhoni', 'rohit')
3
<class 'str'>
<class 'tuple'>
virat
virat
('dhoni',)
('suzuki', 'bmw', 'tata', 'ferrari', 'toyota')
('audi', 'ford', 'suzuki', 'bmw')
['audi', 'ford', 'suzuki', 'bmw', 'tata', 'tesla', 'toyota']
['audi', 'ford', 'suzuki', 'bmw', 'tata', 'ferrari', 'toyota', 'tesla']